@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
    background-color:#87D37C;
    font-family: 'Raleway', sans-serif;
    letter-spacing:1px;
}

.todo-container {
    margin:0 auto;
    max-width:960px;
}

h1 {
    text-align:center;
    color:#006442;
    text-transform:uppercase;
    font-weight:800;
    font-size:40px;
}

.todo-panel {
    width:80%;
    margin:auto;
    color:#FFFFF7;
}

.todo-panel-header, .todo-panel-footer {
    background-color:#006442;
    padding:15px 20px;
}

.todo-name {
    text-transform:uppercase;
    font-weight:500;
    font-size:22px;
    float:left;
}

.todo-info {
    float:right;
    font-size:12px;
    line-height:26px;
}

.todo-nb {
    font-size:18px;
}

.todo-panel-tasks {
    padding:0 !important;
    margin:0 !important;
    list-style:none !important;
}

.todo-panel-tasks li {
    margin:0;
    padding:10px 20px;
    line-height:25px;
}

.todo-panel-tasks li:nth-child(even) {
    background-color:#6B9362;
}

.todo-panel-tasks li:nth-child(odd) {
    background-color:#407A52;
}

button {
    border:none;
    background-color:transparent;
    color:#FFFFF7;
    padding:2px 10px;
}

button.remove, button.edit {
    float:right;
    display:none;
}

.todo-edit {
    display:none;
}

input.todo-edit {
    width:80%;
}

.todo-panel-tasks li.editing .todo-edit {
    display:block;
}

.todo-panel-tasks li.editing label {
    display:none;
}

.todo-panel-tasks li:hover button.remove, .todo-panel-tasks li:hover button.edit {
    display:block;
}

.todo-panel-tasks li:nth-child(even).checked {
    color:#8eb386 !important;
}

.todo-panel-tasks li:nth-child(odd).checked {
    color:#7ba489 !important;
}

.todo-controls {
    float:left;
    padding-top:4px;
}

button.removeAll {
    padding-top:3px;
}

.todo-filter {
    float:left;
    font-size:12px;
}

.todo-filter ul {
    margin-top:7px;
    line-height:18px;
}

.todo-filter li {
    display:inline-block;
    list-style:none;
}

.todo-filter a {
    text-decoration: none !important;
    color:#FFFFF7;
}

.todo-filter .selected {
    font-weight:700;
}

.todo-strong {
    font-weight:700;
}

.todo-form {
    float:right;
}

input {
    color:#FFFFF7;
    opacity:0.5;
    background-color:transparent;
    border:none;
    padding:5px;
    font-size:15px;
    line-height:20px;
    letter-spacing: 1px;
    outline:none !important;
}

.clear {
    clear:both;
}

/****CHECKBOXES****/

/* Cachons la case à cocher */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
 
/* on prépare le label */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative; /* permet de positionner les pseudo-éléments */
  padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
  cursor: pointer;    /* affiche un curseur adapté */
  font-size:15px;
  line-height:20px;
  padding-top:2px;
}

/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 15px; height: 15px; /* dim. de la case */
  border: 2px solid #FFFFF7;
  background: transparent;
  border-radius: 5px; /* angles arrondis */
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
}

[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 15px; height: 15px; /* dim. de la case */
  background: transparent;
  border-radius: 5px; /* angles arrondis */
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
}

.todo-panel-tasks li:nth-child(even) [type="checkbox"]:checked + label:before {
  border: 2px solid #8eb386;
}

.todo-panel-tasks li:nth-child(odd) [type="checkbox"]:checked + label:before {
  border: 2px solid #7ba489;
}

.todo-panel-footer [type="checkbox"]:checked + label:before {
    border: 2px solid #8eb386;
}
 
/* Aspect général de la coche */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 1px; left: 4px;
  font-size: 14px;
  color: #FFFFF7;
  transition: all .2s; /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* Aspect si "cochée" */
[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}

/* aspect désactivée */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #FFFFF7;
  background-color: #FFFFF7;
}
/* styles de la coche (si cochée/désactivée) */
[type="checkbox"]:disabled:checked + label:after {
  color: #FFFFF7;
}
/* on style aussi le label quand désactivé */
[type="checkbox"]:disabled + label {
  color: #7ba489;
}
 
/* aspect au focus de l'élément */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
}

@media screen and (max-width: 720px) {
    .todo-panel {
        margin:0 auto;
        width:100%;
    }
}

@media screen and (max-width: 560px) {

    .todo-name, .todo-info {
        width:100%;
        text-align:center;
    }
    .todo-form {
        width:100%;
    }

    .todo-form form {
        margin:auto;
        width:230px;
    }

}