body {
    background-color:#1BA39C;
}

.wrapper {
    width:960px;
    margin:auto;
    padding:60px;
}

h1 {
    text-align:center;
    color:#86E2D5;
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    font-weight:lighter;
    font-size:4em;
}

.game {
    margin:auto;
    width:300px;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    border:1px solid #86E2D5;
}

.game > div {
    background-color:#1BA39C;
    width:100px;
    height:100px;
    box-sizing:border-box;
    border:1px solid #86E2D5;
}

.player1 {
    background-color:#65C6BB !important;
}

.player2 {
    background-color:#36D7B7 !important;
}

.command {
    padding-top:50px;
    margin:auto;
    width:150px;
}
.button {
    width:150px;
    padding:10px;
    border:1px solid #86E2D5;
    background-color:#86E2D5;
    border-radius:5px;
    margin:auto;
    cursor:pointer;
    color:#1BA39C;
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    font-weight:lighter;
    font-size:1.1em;
}

.button:hover {
    background-color:#36D7B7;
    color:#C8F7C5;
    border:1px solid #36D7B7;
}