<!DOCTYPE html>
<html>
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <meta charset="UTF-8" />
</head>
<body ng-app="app">

    <div class="todo-container">
        <h1>To Do List</h1>
        <div class="todo-panel" ng-controller="toDoCtrl">
            <div class="todo-panel-header">
                <div class="todo-name">{{ todoName }}</div>
                <div class="todo-info"><span class="todo-nb">{{ tasksLength }}</span> tâches restantes</div>
                <div class="clear"></div>
            </div>
            <div class="todo-panel-body">
                <ul class="todo-panel-tasks" >
                    <li ng-repeat="task in tasks | filter:statusFilter | orderBy:'checked' track by $index" ng-class="{checked : task.checked, editing : task.editing}" class="{{ $index }}">
                        <input type="checkbox" ng-model="task.checked" id="task{{$index}}" />
                        <label for="task{{$index}}">{{ task.name }}</label>
                        <button class="remove" ng-click="rmTask($index)">
                            <i class="fa fa-times"></i>
                        </button>
                        <button class="edit" ng-click="task.editing = true">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <form>
                            <input type="text" class="todo-edit" ng-model="task.name" ng-blur="editTask(task)" />
                        </form>
                    </li>
                </ul>
            </div>
            <div class="todo-panel-footer">
                <div class="todo-controls">
                    <input type="checkbox" ng-model="allchecked" id="check-all" ng-click="checkAll(allchecked)" /> 
                    <label for="check-all"></label>
                    <button class="removeAll" ng-click="removeAll()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="todo-filter">
                    <ul>
                        <li><a href="#/" ng-class="{selected : location.path() == '/'}">toutes</a></li>
                        <li><a href="#/done" ng-class="{selected : location.path() == '/done'}">terminées</a></li>
                        <li><a href="#/active" ng-class="{selected : location.path() == '/active'}">restantes</a></li>
                    </ul>
                </div>
                <div class="todo-form">
                    <form ng-submit="addTask(newTask)">
                        <input type="text" ng-model="newTask" placeholder="ajouter une tâche" autofocus autocomplete="off" />
                        <button type="submit" class="add"><i class="fa fa-plus"></i></button>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller/toDo.js"></script>
</body>
</html>
